@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@500;600;700;800&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title-color {
    color: #ff42A5;
}

.yt-icon {
    margin-left: 24px;
    color: red;
}

.tt-icon {
    margin-left: 24px;

}

nav>ul {
    display: flex;
}

li a {
    text-decoration: none;
    color: gray;
}

.link:hover {
    background-color: rgb(221, 220, 220);
    padding: 12px;
}

nav li {
    list-style: none;
    margin-right: 40px;
    gap: 15px;
}

nav img {
    height: 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 74px 240px;
    background: #FFF;
}

.banner-section {
    font-size: 44px;
    font-weight: 600;
    margin-top: 20px;
}

.banner-content h4 {
    font-size: 48px;
}

/* .banner-content h2 {
    background-color: #F948B2 0%, #8758F1;
    font-size: 95px;

} */

.banner img {
    width: 500px;
}

.banner-content {
    /* background-image: url('../B8A2-Gamer-Zone/images/Group\ 14.png'); */
}

.btn-primary {
    color: #FFFFFF;
    background-color: #ff42A5;
    font-size: 20px;
    border-radius: 10px;
}

.btn-primary-2 {
    color: #FFFFFF;
    background-color: #4EC5F7;
    font-size: 20px;
    border-radius: 10px;
}

.title-section {
    text-align: center;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-container {
    display: flex;
    gap: 24px;
}

.container-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 64px 240px 240px; */
    margin-bottom: 200px;
}

.games-ditales {
    /* padding: 0px 200px; */
    padding-left: 240px;
    padding-right: 64px;
}

.games-ditales h2 {
    font-size: 64px;
}

.games-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features-img {
    height: 90%;
    position: relative;
    margin-left: 90px;
    padding-top: 64px;

}

.my-talking {
    width: 280px;
    height: 280px;
    margin-left: 50px;
    align-items: center;
    position: absolute;
    bottom: -48px;
    left: -200px;


}


.title-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    align-items: center;
    margin-top: 16px;
    /* padding: 0px 164px 148px; */
    margin-left: 140px;
    margin-right: 40px;
}

.gamer-title {
    font-size: 64px;
}

.title-images img {
    width: 30px;
}

.footer {
    text-align: center;
    margin-top: 64px;
    background-color: #0B0223;
    padding: 120px;
}

.footer-text {
    color: #FF42A5;
    font-size: 48px;
}

.footer-item {
    margin-left: 60px;
    color: gray;
}

.social-icon {
    margin-top: 24px;
}

.social-icon i {
    margin-left: 48px;
    font-size: xx-large;
    color: white;
}

.t-and-c {
    margin-left: 60px;
    color: gray;
    margin-top: 24px;
}

.copyright {
    color: gray;
    margin-top: 24px;
}

.gamer-color {
    color: white;
    font-size: 36px;
}